.stopLossAndorTakeProfitC {
  position: absolute;
  top: 461px;
  left: 315px;
  line-height: 127.52%;
  display: inline-block;
  width: 749px;
}
.coverBgIcon,
.coverDiv {
  position: absolute;
  top: 175px;
  left: 0;
  width: 1222.9px;
  height: 1218.91px;
}
.coverDiv {
  top: -175px;
  left: 30px;
}
.marketDiv {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.lineDiv {
  position: absolute;
  top: 22.25px;
  left: -0.75px;
  border-top: 1.5px solid #b89f1b;
  box-sizing: border-box;
  width: 23.5px;
  height: 1.5px;
  display: none;
}
.groupDiv,
.groupDiv1,
.lineDiv2 {
  position: absolute;
  top: 0;
  left: 89px;
  width: 55px;
  height: 19px;
}
.groupDiv1,
.lineDiv2 {
  left: 191px;
  width: 72px;
}
.lineDiv2 {
  top: 22.25px;
  left: -0.75px;
  border-top: 1.5px solid #b89f1b;
  box-sizing: border-box;
  width: 23.5px;
  height: 1.5px;
}
.groupDiv2,
.navLinksDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 23px;
}
.navLinksDiv {
  top: 11px;
  left: 490px;
  width: 263px;
}
.logoDiv {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  font-weight: 800;
  font-family: Nunito Sans;
  display: inline-block;
}
.navBarDiv {
  position: absolute;
  top: 56px;
  left: 99px;
  width: 753px;
  height: 41px;
  font-size: 16px;
}
.tradeSmartWithOurStopLoss {
  position: absolute;
  top: 780px;
  left: 272px;
  font-size: 30px;
  line-height: 138.52%;
  font-weight: 500;
  display: inline-block;
  width: 896px;
}
.vectorIcon {
  position: absolute;
  top: 871.5px;
  left: 655.98px;
  width: 128px;
  height: 21px;
}
.backgroundIcon,
.rectangleDiv {
  position: absolute;
  top: 1243px;
  left: 0;
  width: 1434.61px;
  height: 713.49px;
  opacity: 0.8;
}
.rectangleDiv {
  top: 0;
  background-color: #b89f1b;
  width: 123px;
  height: 58px;
  opacity: 0.1;
}
.buyDiv {
  position: absolute;
  top: 18px;
  left: 45px;
  line-height: 127.52%;
  font-weight: 500;
  display: inline-block;
}
.lineDiv3 {
  position: absolute;
  top: 57.5px;
  left: -0.5px;
  border-top: 1px solid #b89f1b;
  box-sizing: border-box;
  width: 124px;
  height: 1px;
}
.groupDiv3 {
  position: relative;
  box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.2);
  width: 123px;
  height: 58px;
  flex-shrink: 0;
}
.rectangleDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 123px;
  height: 58px;
  opacity: 0.1;
}
.sellDiv {
  position: absolute;
  top: 18px;
  left: 46px;
  line-height: 127.52%;
  font-weight: 500;
  display: inline-block;
  opacity: 0.5;
}
.lineDiv4 {
  position: absolute;
  top: 57.5px;
  left: -0.5px;
  border-top: 1px solid #b89f1b;
  box-sizing: border-box;
  width: 124px;
  height: 1px;
  display: none;
}
.buySellTab {
  position: absolute;
  top: 1025px;
  left: 591px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
  color: #f7f7f7;
}
.buySellTab > * + * {
  margin-left: 12px;
}
.rectangleDiv2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 8px 0 0;
  background-color: #f7f7f7;
  width: 858px;
  height: 614px;
  opacity: 0.1;
}
.rectangleDiv3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #c4c4c4;
  width: 338px;
  height: 48px;
}
.fiRrAngleDownIcon {
  position: absolute;
  top: 16px;
  left: 306px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.symbolsDiv {
  position: absolute;
  top: 16px;
  left: 16px;
  font-weight: 500;
  display: inline-block;
}
.groupDiv11,
.groupDiv12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 48px;
}
.groupDiv12 {
  left: 402px;
}
.component8Icon,
.groupDiv10,
.groupDiv13,
.groupDiv16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 740px;
  height: 48px;
}
.component8Icon,
.groupDiv13,
.groupDiv16 {
  top: 88px;
}
.component8Icon,
.groupDiv16 {
  top: 176px;
}
.component8Icon {
  top: 0;
  width: 14px;
  height: 14px;
}
.alertMeWhenPriceHitsTP {
  position: absolute;
  top: 1px;
  left: 22px;
  line-height: 127.52%;
  font-weight: 500;
  display: inline-block;
}
.groupDiv19,
.groupDiv20 {
  position: absolute;
  top: 144px;
  left: 404px;
  width: 154px;
  height: 14px;
  text-align: center;
  font-size: 10px;
  color: #f7f7f7;
}
.groupDiv20 {
  top: 56px;
  left: 403px;
  width: 153px;
}
.groupDiv9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 740px;
  height: 224px;
}
.calculateDiv {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.frameDiv2,
.groupDiv8 {
  position: absolute;
  left: 0;
  width: 740px;
}
.frameDiv2 {
  top: 272px;
  border-radius: 8px;
  background-color: #b89f1b;
  height: 58px;
  display: flex;
  flex-direction: row;
  padding: 13px 126px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
}
.groupDiv8 {
  top: 163px;
  height: 330px;
}
.accountTypeDiv,
.syntheticDiv {
  line-height: 127.52%;
  display: inline-block;
}
.accountTypeDiv {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.syntheticDiv {
  position: relative;
  font-weight: 500;
}
.fiRrCaretDownIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  margin-left: 16px;
}
.component1Div {
  position: absolute;
  top: 62.5px;
  left: 5.5px;
  border: 1px solid #b89f1b;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 6px 18px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}
.groupDiv21 {
  position: absolute;
  top: 0;
  left: 295px;
  width: 161px;
  height: 99px;
  text-align: center;
  font-size: 24px;
  color: #b89f1b;
}
.groupDiv7 {
  position: absolute;
  top: 58px;
  left: 59px;
  width: 740px;
  height: 493px;
}
.groupDiv6,
.rectangleDiv9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 858px;
  height: 614px;
}
.rectangleDiv9 {
  top: 23px;
  left: 1px;
  border-radius: 8px;
  background-color: #c4c4c4;
  width: 338px;
  height: 48px;
}
.div,
.stopLossValue,
.uSDDiv {
  position: absolute;
  top: 0;
  display: inline-block;
}
.stopLossValue {
  left: 0;
  line-height: 127.52%;
}
.div,
.uSDDiv {
  left: 278px;
  font-weight: 600;
}
.div {
  left: 0;
  font-weight: 500;
}
.placeholderDiv {
  position: absolute;
  top: 39px;
  left: 17px;
  width: 308px;
  height: 17px;
  text-align: left;
  font-size: 14px;
  color: #151515;
}
.groupDiv24,
.rectangleDiv10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 339px;
  height: 71px;
}
.rectangleDiv10 {
  top: 23px;
  border-radius: 8px;
  background-color: #c4c4c4;
  width: 338px;
  height: 48px;
}
.placeholderDiv1 {
  position: absolute;
  top: 39px;
  left: 16px;
  width: 308px;
  height: 17px;
}
.groupDiv26,
.takeProfitValue {
  position: absolute;
  top: 0;
  left: 0;
}
.takeProfitValue {
  font-size: 13px;
  line-height: 127.52%;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.groupDiv26 {
  width: 338px;
  height: 71px;
}
.groupDiv25 {
  left: 403px;
  width: 338px;
  text-align: left;
  font-size: 14px;
  color: #151515;
}
.groupDiv23,
.groupDiv25,
.groupDiv29 {
  position: absolute;
  top: 0;
  height: 71px;
}
.groupDiv23 {
  left: 0;
  width: 741px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
.groupDiv29 {
  left: 402px;
  width: 338px;
}
.groupDiv22,
.groupDiv27,
.groupDiv31 {
  position: absolute;
  top: 111px;
  left: 0;
  width: 740px;
  height: 71px;
}
.groupDiv22,
.groupDiv31 {
  top: 222px;
  width: 338px;
}
.groupDiv22 {
  top: 678px;
  left: 58px;
  width: 741px;
  height: 293px;
  font-size: 14px;
}
.frameDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #151515;
  width: 858px;
  height: 1021px;
  overflow: hidden;
  text-align: left;
}
.howToCalculateStopLossAnd {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 128.52%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 739px;
}
.groupDiv33,
.vectorIcon1 {
  position: absolute;
  top: 85.5px;
  left: 305.98px;
  width: 128px;
  height: 21px;
}
.groupDiv33 {
  top: 0;
  left: 30px;
  width: 739px;
  height: 107px;
}
.theStopLossAndorTakeProf {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 128.52%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 798px;
}
.theStopLoss {
  margin-block-start: 0;
  margin-block-end: 0;
}
.forSyntheticAccounts {
  margin: 0;
}
.theStopLossContainer {
  line-break: anywhere;
  width: 100%;
}
.stopLossAndorTakeProfitL,
.stopLossAndorTakeProfitP,
.theStopLossAndorTakeProf1 {
  position: absolute;
  top: 240px;
  left: 0;
  line-height: 128.52%;
  display: flex;
  align-items: center;
  width: 798px;
}
.stopLossAndorTakeProfitL,
.stopLossAndorTakeProfitP {
  top: 0;
  justify-content: center;
  width: 708.01px;
}
.stopLossAndorTakeProfitP {
  top: 84px;
}
.groupDiv35 {
  position: absolute;
  top: 78px;
  left: 45px;
  width: 708.01px;
  height: 130px;
  color: #b89f1b;
}
.groupDiv32,
.groupDiv34 {
  position: absolute;
  top: 153px;
  left: 0;
  width: 798px;
  height: 401px;
  font-size: 18px;
}
.groupDiv32 {
  top: 1366px;
  left: 30px;
  height: 554px;
  font-size: 30px;
  color: #fff;
}
.wouldYouLikeToGetNotified {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 128.52%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 761px;
}
.vectorIcon2 {
  position: absolute;
  top: 77.5px;
  left: 316.98px;
  width: 128px;
  height: 21px;
}
.frameDiv3,
.groupDiv37 {
  position: absolute;
  top: 0;
  left: 0;
  width: 761px;
  height: 99px;
}
.frameDiv3 {
  top: 131px;
  left: 282px;
  border-radius: 8px;
  background-color: #b89f1b;
  width: 196px;
  height: 58px;
  display: flex;
  flex-direction: row;
  padding: 13px 126px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  color: #fff;
}
.groupDiv36 {
  position: absolute;
  top: 1069px;
  left: 48px;
  width: 761px;
  height: 189px;
  font-size: 24px;
  color: #b89f1b;
}
.frameDiv,
.groupDiv5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 858px;
  height: 1920px;
}
.frameDiv {
  top: 1163px;
  left: 291px;
  font-size: 13px;
  color: #151515;
}
.desktopViewDiv {
  position: relative;

  width: 100%;
  height: 3232px;
  overflow: hidden;
  text-align: center;
  font-size: 56px;
  color: #fff;
  font-family: Inter;
}
